body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a.navbar-brand:hover {
    color:#FCD837 !important;
    background-color:white !important;
}
a.navbar-brand {
    font-family: 'Droid Sans', sans-serif !important;
    color:#00BCD4 !important;
    font-weight:bold;
    font-size:2em;
}
div.navbar-collapse.collapse {
    background-color:#00BCD4;
    padding-left:92px;
}
p {
    padding-top:10px;
}
a {
    font-family: 'Ubuntu', sans-serif;
    color:white !important;
    padding-top:0px;
    padding-bottom:0px;
}
a:hover {
    color:#FCD837 !important;
    background-color:#00BCD4 !important;
}
div.navbar.navbar-inverse.navbar-fixed-top {
    background-color:white;
    border:0px 0px 8px 0px;
    border:none;
}
a.btn.btn-default {
    background-color:darkorange;
    text-decoration-color:white !important;
}
a.btn.btn-default:hover {
    background-color:white !important;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    color:gray;
}
th {
    font-family: 'Muli', sans-serif;
    color:dimgray;
}
td {
    font-family: 'Muli', sans-serif;
}
table.table tbody tr td a{
    color:gray !important;
}
table.table tbody tr td a:hover {
    background-color:white !important;
    color:#fcd837 !important; 
}
div.container.body-content p a:hover{
    background-color:white !important;
    color:#fcd837 !important; 
}
div.container.body-content p a {
    color:gray !important; 
}
label.control-label.col-md-2 {
    font-family: 'Muli', sans-serif;
}
h4 {
    font-family: 'Ubuntu', sans-serif;
    color:gray;
}
input.btn.btn-default:hover {
    background-color:#00BCD4;
    text-decoration-color:white !important;
}
.thumbnail {
    padding:0px 0px 0px 0px;
}
footer {
   position:fixed;
   right:0;
   bottom:0;
   left:0;
   background-color:transparent;
   text-align:center;
}
span.float-right {
    font-family:'Ubuntu', sans-serif;
}
div.form-actions.no-color a {
    color:gray !important;
}
div.form-actions.no-color a:hover {
    color:#fcd837 !important;
    background:none !important;
}
.jumbotron {
    position:absolute;
    margin-right:100px;
}
h1#homeTitle {
    color:white;
    font-family: 'Muli', sans-serif;
    border:2px solid gray;
    padding:5px 5px 5px 5px;
    position:absolute;
}


