@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Reviews">Write A Review &raquo;</a></p>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/vsco_camera_1.png" alt="phone">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/Leica1.jpg" alt="leica">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/laptop1.jpg" alt="laptop">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/headphones1.jpg" alt="headphones">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/camera1.jpg" alt="camera">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/sonyphones1.jpg" alt="sony">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/whitekeyboard.png" alt="keyboard">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img class="img-responsive" src="~/images/drone2.jpg" alt="drone">
            </a>
        </div>
        
    </div>
</div>
<div class="img-responsive">
    <div class="container" id="box"><h1></h1></div>
    <center>
        <h1 id="homeTitle">Simply the best in showcasing your opinion on random tech.</h1>
    </center>
</div>
