@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Review Site</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in urna diam. Proin congue risus vulputate lorem dictum consectetur. Donec luctus turpis quis leo pretium, sed eleifend lectus semper. Praesent efficitur tellus id sodales tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas laoreet, lectus ut eleifend sodales, sem mauris pulvinar felis, eget luctus tellus augue et diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eget massa tortor.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>